*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --footer-height: 2.5rem;
}

body {
  background: #eaeaea;
}

main {
  padding-bottom: var(--footer-height);
}

div#__next {
  position: relative;
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
}